 html,
body,
#root {
  height: 100%;
}

.pf-v5-c-content {
  --pf-v5-c-content--small--Color: red;
  /* changes all <small> color to red */
  --pf-v5-c-content--blockquote--BorderLeftColor: purple;
  /* changes all <blockquote> left border color to purple */
  --pf-v5-c-content--hr--BackgroundColor: lemonchiffon;
  /* changes a <hr> color to lemonchiffon */
}

.loading::after {
  display: inline-block;
  animation: dotty steps(1,end) 1.75s infinite;
  content: '';
}

@keyframes dotty {
    0%   { content: ''; }
    25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

@keyframes spin-pulse {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

.loading-icon-spin-pulse {
  animation: spin-pulse 1s steps(8, start) infinite;
}

.loading-icon-spin {
  animation: spin 1.5s infinite linear;
}

.code-execution-output {
  white-space:pre-wrap
}

.node-list-description-list {
  margin-bottom: -8px
}

.node-list-expandable-content {
  margin-top: -24px
}

.kernel-list-stat-icons {
  margin-top: -16px;
}

.kernel-list-row {
  padding: 0px 0px 0px 0px;
}

.kernel-list-expandable-content {
  margin-top: -32px
}

.pf-v5-c-description-list__description {
  margin-top: -8px
}